# Python cache / bytecode
__pycache__/
*.pyc
*.pyo
*.pyd
*.pdb

# Virtual environments (если когда-то создашь)
.venv/
venv/
ENV/

# Logs
*.log

# Environment variables (секреты)
.env
.env.*

# Docker
*.pid
*.seed
*.swp
docker-compose.override.yml
.docker/

# VS Code settings
.vscode/
.history/
*.code-workspace

# OS files
.DS_Store
Thumbs.db
